body {
  width: 100vw;
  height: 100vh;
  background-color: black;
  font-family: sans-serif;
}

.main {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 99%;
  height: 98%;
  font-size: 2.5vh;
}

.bill {
  background-color: silver;
  color: black;
  padding: 2vh 2vw;
  border-radius: 1vh;
}

div {
  margin: 3vh 2vw;
}

.title {
  text-align: center;
  margin: 2vh 2vw;
  font-size: 3vh;
}

p {
  margin: 0 0 0.5vh 0;
}

input {
  font-size: 3vh;
  width: 100%;
  background-color: white;
  border: 0;
}

button {
  font-size: 2.5vh;
  margin: 0.2vh;
  width: 4.1vh;
  background-color: grey;
  color: white;
  border: 0;
}

.tipButton {
  width: 6.5vh;
}

#amountPerPayer {
  font-size: 4vh;
}
